{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <div class="page-width">
    <ul class="list-menu list-menu--inline" role="list">
      {%- for link in section.settings.menu.links -%}
        <li>
          {%- if link.links != blank -%}
            <header-menu>
              <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                <summary
                  id="HeaderMenu-{{ link.handle }}"
                  class="header__menu-item list-menu__item link focus-inset"
                >
                  <span
                    {%- if link.child_active %}
                      class="header__active-menu-item"
                    {% endif %}
                  >
                    {{- link.title | escape -}}
                  </span>
                  {% render 'icon-caret' %}
                </summary>
                <div
                  id="MegaMenu-Content-{{ forloop.index }}"
                  class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                  tabindex="-1"
                >
                  {%- assign total_items = link.links.size -%}
                  {%- assign limit_items = total_items | minus: 2 -%}
                  {%- assign midpoint = limit_items | divided_by: 2.0 | ceil -%}

                  {% for i in (1..2) %}
                    <ul
                      class="mega-menu__list {% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                      role="list"
                    >
                      {%- for childlink in link.links limit: limit_items -%}
                        {% if i == 1 and forloop.index <= midpoint %}
                          {% assign print = true %}
                        {% elsif i == 2 and forloop.index > midpoint %}
                          {% assign print = true %}
                        {% else %}
                          {% assign print = false %}
                        {% endif %}

                        {% if print %}
                          <li class="mega-menu__child {% if childlink.current %} mega-menu__child--active{% endif %}">
                            <a
                              id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                              href="{{ childlink.url }}"
                              class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                              {% if childlink.current %}
                                aria-current="page"
                              {% endif %}
                            >
                              {{ childlink.title | escape }}
                            </a>
                          </li>
                        {% endif %}
                      {%- endfor -%}
                    </ul>
                  {% endfor %}

                  {%- assign start_last_two = total_items | minus: 2 -%}
                  <ul class="list-unstyled mega-menu--featured" role="list">
                    {%- for featuredLink in link.links offset: start_last_two limit: 2 -%}
                      <li>
                        {% if featuredLink.type == 'product_link' or featuredLink.price %}
                          {% if featuredLink.type == 'product_link' %}
                            {% assign product = featuredLink.object %}
                          {% else %}
                            {% assign product = featuredLink %}
                          {% endif %}

                          {% render 'card-product', card_product: product %}

                        {% else %}
                          <a
                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ featuredLink.handle }}"
                            href="{{ featuredLink.url }}"
                            class="mega-menu__link link{% if featuredLink.current %} mega-menu__link--active{% endif %}"
                            {% if featuredLink.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {%- if featuredLink.type == 'collection_link' -%}
                              {% assign link_collection = featuredLink.object %}
                              <div class="mega-menu--collection">
                                <img
                                  src="{{ link_collection.featured_image | image_url: width: 280 }}"
                                  alt="{{ featuredLink.title | escape }}"
                                  loading="lazy"
                                  width="280"
                                  height="{{ 280 | divided_by: link_collection.featured_image.aspect_ratio | round }}"
                                >

                                <div class="mega-menu--collection--title">
                                  {{ featuredLink.title | escape }}
                                </div>
                              </div>

                            {% elsif featuredLink.type == 'page_link' %}
                              {% assign page_handle = featuredLink.object.handle %}
                              {% assign thumb = pages[page_handle].metafields.custom.mega_menu_callout_image %}

                              <div class="mega-menu--page">
                                <div
                                  class="media media--transparent media--square"
                                >
                                  <img
                                    src="{{ thumb | image_url:width: 240, height: 240 }}"
                                    alt="{{featuredLink.title}} _ {{ page_handle }}"
                                    width="240"
                                    height="240"
                                    loading="lazy"
                                  >
                                </div>

                                <div class="mega-menu--page--title">
                                  {{ featuredLink.title | escape }}
                                </div>
                              </div>
                            {%- endif -%}
                          </a>
                        {% endif %}
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </details>
            </header-menu>
          {%- else -%}
            <a
              id="HeaderMenu-{{ link.handle }}"
              href="{{ link.url }}"
              class="header__menu-item list-menu__item link link--text focus-inset"
              {% if link.current %}
                aria-current="page"
              {% endif %}
            >
              <span
                {%- if link.current %}
                  class="header__active-menu-item"
                {% endif %}
              >
                {{- link.title | escape -}}
              </span>
            </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>

    <div class="header--secondary-menu">
      <ul class="list-menu list-menu--inline" role="list">
        {%- for link in section.settings.menu_secondary.links -%}
          <li>
            {%- if link.links != blank -%}
              <header-menu>
                <details id="Details-HeaderMenu-{{ forloop.index }}">
                  <summary
                    id="HeaderMenu-{{ link.handle }}"
                    class="header__menu-item list-menu__item link focus-inset"
                  >
                    <span
                      {%- if link.child_active %}
                        class="header__active-menu-item"
                      {% endif %}
                    >
                      {{- link.title | escape -}}
                    </span>
                    {% render 'icon-caret' %}
                  </summary>
                  <ul
                    id="HeaderMenu-MenuList-{{ forloop.index }}"
                    class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                    role="list"
                    tabindex="-1"
                  >
                    {%- for childlink in link.links -%}
                      <li>
                        {%- if childlink.links == blank -%}
                          <a
                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                            href="{{ childlink.url }}"
                            class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                            {% if childlink.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {{ childlink.title | escape }}
                          </a>
                        {%- else -%}
                          <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                            <summary
                              id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                              class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                            >
                              <span>{{ childlink.title | escape }}</span>
                              {% render 'icon-caret' %}
                            </summary>
                            <ul
                              id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                              class="header__submenu list-menu motion-reduce"
                            >
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a
                                    id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                    href="{{ grandchildlink.url }}"
                                    class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                    {% if grandchildlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </details>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </details>
              </header-menu>
            {%- else -%}
              <a
                id="HeaderMenu-{{ link.handle }}"
                href="{{ link.url }}"
                class="header__menu-item list-menu__item link link--text focus-inset"
                {% if link.current %}
                  aria-current="page"
                {% endif %}
              >
                <span
                  {%- if link.current %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>

      <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
        <div class="desktop-localization-wrapper">
          {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
            <localization-form class="small-hide medium-hide" data-prevent-hide>
              {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
                <div>
                  <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                  {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
                </div>
              {%- endform -%}
            </localization-form>
          {% endif %}

          {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
            <localization-form class="small-hide medium-hide" data-prevent-hide>
              {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
                <div>
                  <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                  {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
                </div>
              {%- endform -%}
            </localization-form>
          {%- endif -%}
        </div>
        {% render 'header-search', input_id: 'Search-In-Modal' %}

        {%- if shop.customer_accounts_enabled -%}
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
            class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
          >
            <account-icon>
              {%- if customer and customer.has_avatar? -%}
                {{ customer | avatar }}
              {%- else -%}
                {% render 'icon-account' %}
              {%- endif -%}
            </account-icon>
            <span class="visually-hidden">
              {%- liquid
                if customer
                  echo 'customer.account_fallback' | t
                else
                  echo 'customer.log_in' | t
                endif
              -%}
            </span>
          </a>
        {%- endif -%}

        <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
          {%- liquid
            if cart == empty
              render 'icon-cart-empty'
            else
              render 'icon-cart'
            endif
          -%}
          <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
          {%- if cart != empty -%}
            <div class="cart-count-bubble">
              {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
              {%- endif -%}
              <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
            </div>
          {%- endif -%}
        </a>
      </div>
    </div>
  </div>
</nav>
