{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width-full section-{{ section.id }}-padding">
    <div class="grid grid--1-col grid--2-col-tablet">
      <div class="grid__item contact-graphics">
        <div class="contact--sub-heading">{{ section.settings.subheading }}</div>
        <img
          src="{{ section.settings.image | image_url: width: 500 }}"
          alt="{{ section.settings.image.alt | escape }}"
          loading="lazy"
          width="500"
          height="{{ 500 | divided_by: section.settings.image.aspect_ratio | round }}"
        >
        <h1 class="contact--heading">{{ section.settings.heading }}</h1>
      </div>
      <div class="grid__item contact-form">
        {%- liquid
          assign contact_form_class = 'isolate'
          if settings.animations_reveal_on_scroll
            assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
          endif
        -%}
        {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
          {%- if form.posted_successfully? -%}
            <h2 class="picaresk form-status form-status-list form__message" tabindex="-1" autofocus>
              {% render 'icon-success' %}
              {{ 'templates.contact.form.post_success' | t }}
            </h2>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="picaresk form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                {% render 'icon-error' %}
                {{ 'templates.contact.form.error_heading' | t }}
              </h2>
            </div>
            <ul class="form-status-list caption-large" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email }}
                </a>
              </li>
            </ul>
          {% else %}
            <h2 class="picaresk">Have a question or comment? Get in touch!</h2>
          {%- endif -%}
          <div class="contact__fields">
            <div class="field">
              <input
                class="field__input"
                autocomplete="name"
                type="text"
                id="ContactForm-name"
                name="contact[{{ 'templates.contact.form.name' | t }}]"
                value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                placeholder="{{ 'templates.contact.form.name' | t }}"
              >
              <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
            </div>
            <div class="field field--with-error">
              <input
                autocomplete="email"
                type="email"
                id="ContactForm-email"
                class="field__input"
                name="contact[email]"
                spellcheck="false"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'email' %}
                  aria-invalid="true"
                  aria-describedby="ContactForm-email-error"
                {% endif %}
                placeholder="{{ 'templates.contact.form.email' | t }}"
              >
              <label class="field__label" for="ContactForm-email">
                {{- 'templates.contact.form.email' | t }}
                <span aria-hidden="true">*</span></label
              >
              {%- if form.errors contains 'email' -%}
                <small class="contact__field-error" id="ContactForm-email-error">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <span class="form__message">
                    {%- render 'icon-error' -%}
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </span>
                </small>
              {%- endif -%}
            </div>
          </div>
          <div class="field">
            <input
              type="tel"
              id="ContactForm-phone"
              class="field__input"
              autocomplete="tel"
              name="contact[{{ 'templates.contact.form.phone' | t }}]"
              pattern="[0-9\-]*"
              value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
              placeholder="{{ 'templates.contact.form.phone' | t }}"
            >
            <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
          </div>
          <div class="field">
            <textarea
              rows="10"
              id="ContactForm-body"
              class="text-area field__input"
              name="contact[{{ 'templates.contact.form.comment' | t }}]"
              placeholder="{{ 'templates.contact.form.comment' | t }}"
            >
              {{- form.body -}}
            </textarea>
            <label class="form__label field__label" for="ContactForm-body">
              {{- 'templates.contact.form.comment' | t -}}
            </label>
          </div>
          <div class="contact__button">
            <button type="submit" class="button">SUBMIT</button>
          </div>
        {%- endform -%}
      </div>
    </div>
  </div>

  {% if section.settings.address_heading != blank %}
    <div class="address">
      <div class="page-width">
        <div class="grid grid--1-col grid--3-col-tablet">
          <div class="grid__item">
            <h2 class="address--heading">
              {{ section.settings.address_heading }}
            </h2>
          </div>

          <div class="grid__item address--image">
            <svg width="240" height="367" viewBox="0 0 240 367" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M189.86 51.3738C189.86 19.8109 168.753 0 142.43 0C116.107 0 95 19.8109 95 51.3738C95 80.5459 121.207 114.756 138.401 119.77L134.64 127.297C137.294 127.774 139.892 128.037 142.436 128.061C145.108 128.086 147.707 127.854 150.232 127.297L146.716 119.697C163.916 114.426 189.866 80.4053 189.866 51.3738" fill="#c81127"/>
              <line x1="142" y1="120" x2="142" y2="340" stroke="#c81127" stroke-width="4"/>
              <line x1="56.332" y1="292" x2="56.332" y2="340" stroke="#c81127" stroke-width="4"/>
              <path d="M240 169.215C240 147.587 225.537 134.012 207.5 134.012C189.463 134.012 175 147.587 175 169.215C175 189.204 192.957 212.646 204.739 216.081L202.162 221.239C203.981 221.566 205.761 221.746 207.504 221.763C209.335 221.78 211.116 221.62 212.846 221.239L210.437 216.031C222.223 212.42 240.004 189.108 240.004 169.215" fill="#c81127"/>
              <line x1="207.836" y1="216.239" x2="207.836" y2="366.988" stroke="#c81127" stroke-width="4"/>
              <path d="M113.667 201.779C113.667 163.824 88.3748 140 56.8333 140C25.2918 140 0 163.824 0 201.779C0 236.86 31.4023 278 52.005 284.029L47.4991 293.081C50.6789 293.654 53.7927 293.971 56.8407 294C60.0424 294.029 63.1563 293.75 66.1822 293.081L61.9694 283.941C82.5794 277.603 113.674 236.691 113.674 201.779" fill="#c81127"/>
            </svg>
          </div>

          <div class="grid__item address--address">
            {{ section.settings.address }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section section-contact",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "Sub-Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "richtext",
      "id": "address_heading",
      "label": "Address Heading"
    },
    {
      "type": "richtext",
      "id": "address",
      "label": "Address"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
