{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<style>
  .custom-form h2 {
    font-size: calc(var(--font-heading-scale)* 1.8rem);
    color: #000;
    margin: 1.3em 0 0;
  }
  .custom-form p {
    font-family: 'Figtree', sans-serif;
    color: #000; 
    line-height: 1.3;
    margin-top: .5em;
  }
  .custom-form .field__label {
    color: #000;
  }
  .custom-form .field__input:not(:placeholder-shown) {
    padding-top: .69em;
  }
  .custom-form .field__input, .customer .field input {
    color: #000;
    background: #FFF; 
    box-shadow: 0 0 0 calc(0.1rem + var(--inputs-border-width)) #000;
  }
  .custom-form .field label.select:after {
    content: '';
    display: block;
    position: absolute;
    right: 2.3em;
    top: 6px;
    width: 11px;
    height: 11px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(135deg);
    z-index: 999;
    left: auto;

  }
  @media (min-width:750px) {
    .custom-form--image { padding: 0 0 0 3em; }
  }
  
</style>
<div class="color-{{ section.settings.color_scheme }} gradient">

  <header>
    <div class="contact--sub-heading">{{ section.settings.subheading }}</div>
    <h1 class="contact--heading">{{ section.settings.heading }}</h1>
  </header>
  
  <div class="contact custom-balloons page-width section-{{ section.id }}-padding">
    <div class="grid grid--1-col grid--2-col-tablet">
       <div class="grid__item custom-form">
        {%- liquid
          assign contact_form_class = 'isolate'
          if settings.animations_reveal_on_scroll
            assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
          endif
        -%}
        {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
          {%- if form.posted_successfully? -%}
            <p class="picaresk form-status form-status-list form__message" tabindex="-1" autofocus style="font-size: 125%; box-shadow: none; border: 0">
              {{ 'templates.contact.form.post_success' | t }}
            </p>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="picaresk form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                {% render 'icon-error' %}
                {{ 'templates.contact.form.error_heading' | t }}
              </h2>
            </div>
            <ul class="form-status-list caption-large" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email }}
                </a>
              </li>
            </ul>
          {%- endif -%}
          <div class="custom_form_fields">
            <div class="field">
              <input
                class="field__input"
                autocomplete="name"
                type="text"
                id="ContactForm-name"
                name="contact[{{ 'templates.contact.form.name' | t }}]"
                value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                placeholder="{{ 'templates.contact.form.name' | t }}"
                aria-required="true"
                required="required"
              >
              <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
            </div>
            <div class="field field--with-error">
              <input
                autocomplete="email"
                type="email"
                id="ContactForm-email"
                class="field__input"
                name="contact[email]"
                spellcheck="false"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'email' %}
                  aria-invalid="true"
                  aria-describedby="ContactForm-email-error"
                {% endif %}
                placeholder="{{ 'templates.contact.form.email' | t }}"
                required="required"
              >
              <label class="field__label" for="ContactForm-email">
                {{- 'templates.contact.form.email' | t }}
                <span aria-hidden="true">*</span></label
              >
              {%- if form.errors contains 'email' -%}
                <small class="contact__field-error" id="ContactForm-email-error">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <span class="form__message">
                    {%- render 'icon-error' -%}
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </span>
                </small>
              {%- endif -%}
            </div>
          <div class="field">
            <input
              type="tel"
              id="ContactForm-phone"
              class="field__input"
              autocomplete="tel"
              name="contact[{{ 'templates.contact.form.phone' | t }}]"
              pattern="[0-9\-]*"
              value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
              placeholder="{{ 'templates.contact.form.phone' | t }}"
            >
            <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
          </div>

            <div class="form-grid">
              <div class="field">
                <input
                  type="text"
                  id="ContactForm-date"
                  class="field__input"
                  name="contact[Date]"
                  placeholder="Date of Event"
                >
                <label class="field__label" for="ContactForm-date">Date of Event</label>
              </div>
            <div class="field">
              <input
                class="field__input"
                type="text"
                id="ContactForm-number"
                name="contact[numberOfPeople]"
                value="{% if form.number %}{{ form.number }}{% elsif customer %}{{ customer.number }}{% endif %}"
                placeholder="Number of attendees"
                aria-required="true"
                required="required"
              >
              <label class="field__label" for="ContactForm-number">Number of attendees (Minimum 12, Maximum 18)</label>
            </div>
              <div class="field">
                <input
                  type="text"
                  id="ContactForm-teme"
                  class="field__input"
                  name="contact[Scheme]"
                  placeholder="What is the theme of your event?"
                >
                <label class="field__label" for="ContactForm-scheme">What is the theme of your event?</label>
              </div>
          </div>

          
          <div class="field">
            <textarea
              rows="9"
              id="ContactForm-body"
              class="text-area field__input"
              name="contact[{{ 'templates.contact.form.comment' | t }}]"
              placeholder="{{ 'templates.contact.form.comment' | t }}"
            >
              {{- form.body -}}
            </textarea>
            <label class="form__label field__label" for="ContactForm-body">
              Additional Details
            </label>
          </div>
          <div class="contact__button">
            <button type="submit" class="button">SUBMIT</button>
          </div>

          </div>
        {%- endform -%}
      </div>
      <div class="grid__item custom-form--image">
        <img src="{{ section.settings.image | image_url: width: 900 }}" alt="{{ section.settings.image.alt | escape }}" loading="lazy" width="900" height="{{ 900 | divided_by: section.settings.image.aspect_ratio | round }}">
      </div>
    </div>
  </div>

</div>

{% schema %}
{
  "name": "Custom Form Event Request",
  "tag": "section",
  "class": "section section-contact",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "Sub-Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Custom Form - Private Event Request"
    }
  ]
}
{% endschema %}