<div class="page-width page-width-full">
  <div class="grid grid--gapless grid--1-col grid--2-col-tablet">
    <div class="grid__item content">
      <div class="heading">{{ section.settings.heading }}</div>
      <div class="subheading">{{ section.settings.subheading }}</div>

      <div class="products">
        <div class="grid grid--3-col">
          {% for block in section.blocks %}
            <div class="grid__item">
              <a href="{{ block.settings.product.url }}" class="product">
                <div class="media media--square">
                  <img
                    src="{{ block.settings.product.featured_media | image_url: width: 500 }}"
                    alt="{{ block.settings.product.featured_media.alt | default: block.settings.product.title | escape }}"
                    loading="lazy"
                    width="500"
                    height="{{ 500 | divided_by: block.settings.product.featured_media.aspect_ratio | round }}"
                  >
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>

      <a href="{{ section.settings.url }}" class="link">{{ section.settings.button_text }}</a>
    </div>

    <div class="grid__item image">
      <img
        src="{{ section.settings.image.src | image_url: width: 900 }}"
        alt="{{ section.settings.image.alt | escape }}"
        loading="lazy"
        width="900"
        height="{{ 900 | divided_by: section.settings.image.aspect_ratio | round }}"
      >
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Compilation",
  "class": "section-product-compilation",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Sub-Heading"
    },
    {
      "type": "url",
      "id": "url",
      "label": "CTA URL"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button label",
      "default": "SHOP NOW"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Compilation"
    }
  ]
}
{% endschema %}
